* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #fff;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
}
img {
  width: 100%;
  transition: all 0.5s;
}

.caption,
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0);
  background-color: black;

  h1 {
    text-transform: uppercase;
    margin: 0;
  }
  p {
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
  }
}

.one {
  .container:hover {
    .caption {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.5);
    }
    img {
      transform: scale(1.3) rotate(15deg);
    }
  }
}

.two {
  background-color: blueviolet;
  .caption {
    left: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
  .container:hover {
    .caption {
      left: 0;
    }
  }
}

.three {
  background-color: coral;
  .caption {
    transform: translateX(-100%);
    background-color: black;
    opacity: 1;
  }
  .container:hover {
    .caption {
      transform: translateX(0);
    }
    img {
      transform: translateX(100%);
    }
  }
}

.four {
  // background-color: coral;
  .container {
    // overflow: visible;
  }
  .caption {
    height: 30%;
    top: unset;
    bottom: 0;
    transform: translatey(100%);
    background-color: black;
    opacity: 1;
  }
  .container:hover {
    .caption {
      transform: translatey(0);
    }
    img {
      transform: translateY(-20%);
    }
  }
}

.five {
  background-color: coral;
  .container {
    border-radius: 10px;
  }
  .overlay {
    height: 100%;
    top: unset;
    bottom: 0;
    transform: translatey(100%);
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.25s;
    transition-delay: 0.25s;
    opacity: 1;
  }
  .overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.25s;
    margin: 0;
    letter-spacing: 1px;
    h1 {
      margin-bottom: 4px;
    }
    p {
      background-color: #ae895d;
      padding: 3px 5px;
    }
  }
  .container:hover {
    .overlay {
      transform: translateY(0);
      transition-delay: 0s;
    }
    .overlay-content {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.3s;
    }
  }
}

.six {
  height: 60vh;
  background-color: #3b3b3b;
  ul {
    display: flex;
    li {
      font-size: 100px;
      font-weight: bold;
      letter-spacing: 10px;
      transition: 2s;
    }
    &:hover li {
      transform: rotate(45deg) translateY(-200px);
      opacity: 0;
      filter: blur(20px);
    }
  }
  li:nth-child(2) {
    transition-delay: 0.4s;
  }
  li:nth-child(3) {
    transition-delay: 0.8s;
  }
  li:nth-child(4) {
    transition-delay: 1.2s;
  }
  li:nth-child(5) {
    transition-delay: 1.6s;
  }
}

.seven {
  height: 60vh;
  h1 {
    font-size: 120px;
    color: #ccc;
    position: relative;
    &:before {
      content: 'OSHE!!!';
      position: absolute;
      top: 0;
      left: 0;
      // background-color: red;
      color: #262626;
      width: 0;
      overflow: hidden;
      transition: all 0.5s;
    }
    &:hover:before {
      width: 100%;
    }
  }
}

.eight {
  background-color: #fffa65;
  height: 60vh;
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    a {
      color: #3d3d3d;
      display: block;
      font-size: 20px;
      padding: 10px 15px;
      position: relative;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #3d3d3d;
        transform: scaleX(0);
        transition: all 0.5s;
        transform-origin: left;
      }
      &:after {
        top: unset;
        bottom: 0;
        transform-origin: right;
      }
      &:hover {
        &:before {
          transform: scaleX(1);
        }
        &:after {
          transform: scaleX(1);
        }
      }
    }
  }
}

.nine {
  height: 60vh;
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    a {
      font-size: 20px;
      color: #3d3d3d;
      display: block;
      padding: 10px 15px;
      margin: 0 10px;
      position: relative;
      text-transform: uppercase;
      transition: all 0.5s;
      &:before,
      &:after {
        content: '';
        position: absolute;
        bottom: 12px;
        left: 12px;
        width: 12px;
        height: 12px;
        border: 2px solid #e91e63;
        border-width: 0 0 3px 3px;
        opacity: 0;
        transition: all 0.3s;
      }
      &:after {
        bottom: unset;
        left: unset;
        right: 12px;
        top: 12px;
        border-width: 3px 3px 0 0;
      }
      &:hover {
        background-color: #e91e63;
        color: #fff;
        &:before {
          bottom: -8px;
          left: -8px;
          opacity: 1;
        }
        &:after {
          right: -8px;
          top: -8px;
          opacity: 1;
        }
      }
    }
  }
}

.ten {
  background-color: grey;
  height: 60vh;
  .icon-container {
    display: flex;
    color: #10ac84;
    text-align: center;
  }
  .icon {
    width: 90px;
    height: 90px;
    background-color: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    position: relative;
    overflow: hidden;

    i {
      line-height: 90px;
      font-size: 25px;
      transition: all 0.2s;
      color: #10ac84;
    }
    &:before {
      content: '';
      position: absolute;
      width: 120%;
      height: 120%;
      background-color: #10ac84;
      left: -110%;
      top: 90%;
      transform: rotate(45deg);
    }
  }

  .icon:hover {
    i {
      transform: scale(1.3);
      color: #f1f1f1;
    }
    &:before {
      animation: greenOverlay 0.7s 1 forwards;
    }
  }
  @keyframes greenOverlay {
    0% {
      left: -110%;
      top: 90%;
    }
    50% {
      left: 15%;
      top: -30%;
    }
    100% {
      left: -10%;
      top: -10%;
    }
  }
}
