@import 'variables';
@import 'utilities';
// Quick reset Styles
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0.75rem 0;
}
li {
  list-style-type: none;
}

img {
  width: 100%;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f8fa;
  font-size: 0.875rem;
}

// Navbar
#navbar {
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
  position: sticky;
  .container {
    display: flex;
    align-items: center;
    .logo {
      flex: 1;
      font-family: Roboto;
      font-style: normal;
      font-weight: 900;
      font-size: 1.5rem;
      line-height: 1.75;
      color: $primary-color;
    }
    .nav-items ul {
      display: flex;
      padding: 0.75rem;
      li {
        margin: 0 1rem;
        color: $dark-color;
        align-self: center;
      }
    }
  }
  .image-holder {
    // background-color: red;
    position: relative;
    .image {
      margin-top: 10px;
    }
    .icon {
      background-color: $primary-color;
      color: #fff;
      position: absolute;
      padding: 0.1rem;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      font-size: 8px;
      font-weight: bold;
      text-align: center;
      top: 5px;
      right: -5px;
      // left: 0px;
    }
  }
}

#side {
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-align: right;
  & > div > span {
    font-size: 0.625rem;
  }
  img {
    width: 40px;
    border-radius: 50%;
    align-items: center;
  }
}

// main content
#main {
  display: flex;
  aside {
    background: #fff;
    height: 100vh;

    a {
      display: inline-block;
      padding: 0.8rem 2rem;
      background: $green-color;
      border-radius: 30px;
      margin-bottom: 1rem;
      color: white;
      font-family: Roboto;
      font-size: 0.75rem;
    }

    .list {
      font-size: 11px;
      font-weight: normal !important;
      color: #647787;

      h3 {
        font-weight: normal;
      }
      img {
        width: 20px;
        margin-right: 10px;
      }

      ul li {
        padding: 0.75rem 0.25rem;
        padding-left: 1rem;
        display: flex;
        &:hover {
          background: #e8f1fd;
          border-left: 4px solid $primary-color;
        }
      }
    }
  }
}
