.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: #f9f9f9;
  font-size: 24px;
  padding: 25px;
}

.parallax {
  background: url("../img/coolbg.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  height: 500px;
}

.parallax-window {
  min-height: 500px;
  background: transparent;
}
